@font-face {
  font-family: 'FuturaBlaD';
  src: url("/assets/fonts/FuturaBlaD.ttf") format('opentype');
}

@font-face {
  font-family: 'EdwardianScriptITC';
  src: url("/assets/fonts/EdwardianScriptITC.tff") format('opentype');
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.lady {
  font-family: 'EdwardianScriptITC';
  color: #E91966;
  margin-right: 5px;
  font-size: 40px;
}

a.brand-logo {
  min-width: 250px;
}

.business {
  font-family: 'FuturaBlaD';
  color: #000;
  text-shadow: -1px 0 #cdd0d7, 0 1px #cdd0d7, 1px 0 #cdd0d7, 0 -1px #cdd0d7;
  padding-left: 5px;
  font-size: 40px;
}

nav {
  background: url("/assets/images/speaker_grill.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  height: 65px;
}

ul a {
  padding-right: 30px !important;
  font-family: 'Rock Salt', cursive;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: #CDD0D7 !important;
  ;
}
